version: "3.9"

services:
  auth:
    build: ./Authentication
    env_file: ./Authentication/.env
    command: gunicorn --bind 0.0.0.0:8000 app:app
    networks:
      - backend_net

  backend:
    build: ./backend
    env_file: ./backend/.env
    command: gunicorn --bind 0.0.0.0:5000 app:app
    networks:
      - backend_net

  api-gateway:
    build: ./api-gateway
    env_file: ./api-gateway/.env
    ports:
      - "8080:8080"
    depends_on:
      - backend
      - auth
    networks:
      - backend_net
#  init-auth-db:
#    build: ./Authentication
#    env_file: ./Authentication/.env
#    command: python manage.py
#    restart: "no"

#  init-backend-db:
#    build: ./backend
#    env_file: ./backend/.env
#    command: python manage.py
#    restart: "no"

networks:
  backend_net:
    driver: bridge
